.cover__link {
    /*заголовок+подзаголовок байкал*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    width: 100%;
}