.lead__subtitle { /*подзаголовок в путешествиях*/
    text-align: center;
    max-width: 640px; /*... 320-288px*/
    font-weight: 400; 
    font-size: 30px; /*... 320-16px*/
    line-height: 36px; /*... 320-20px*/
    margin: 32px auto 64px; /*1024-32px auto 56px, 768-32px auto 56px, 320-16px auto 40px*/

}