.photo-grid {
    /*КОЛЛАЖ*/
    display: grid;
    justify-items: center;
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    padding: 92px 48px;
    box-sizing: border-box;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        padding: 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 1fr;
        padding: 64px 16px;
        gap: 12px;
    }
}