.places {
    /*МЕСТА*/
    max-width: 984px;
    margin: 92px auto;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}



@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100vw - 48px);

    }
}

@media screen and (max-width: 550px) {
    .places {
        max-width: calc(100vw - 48px);
        margin-left: 24px;
        margin-right: 24px;

    }
}


@media screen and (max-width: 320px) {
    .places {
        max-width: 100%;
        margin: 64px auto;
    }
}