.intro__list {
    /*ul часовых поясов...*/
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    max-width: 690px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
    }
}