.lead {
    /*ПУТЕШЕСТВИЯ О РОССИИ*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 56px 148px 0 148px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 48px 48px 0 48px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 48px 0 0 0;
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding: 48px 2px 0 2px;
        max-width: 320px;
    }
}