.header {
    /*ШАПКА*/
    display: flex;
    max-width: 1184px;
    padding: 28px 48px 0 48px;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 16px 16px 0;
    }
}