.place__paragraphs {
    /*абзацы для мест*/
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        gap: 27px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        gap: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        font-size: 16px;
    }
}