.footer__links {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
  }

  @media screen and (max-width: 478px) {
    .footer__links {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }