.cover__subtitle {
    /*подзаголовок байкал*/
    max-width: 360px;
    margin: 32px auto 0;
    color: #FFF;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        margin: 16px auto 0;
    }
}