@font-face {
    src:
        local("Inter-Regular"),
        url(./Inter-Regular.woff2) format("woff2"),
        url(./Inter-Regular.woff) format("woff");
    font-family: "Inter";
    font-weight: 400;
}

@font-face {
    src:
        local("Inter-Bold"),
        url(./Inter-Bold.woff2) format("woff2"),
        url(./Inter-Bold.woff) format("woff");
    font-family: "Inter";
    font-weight: 700;
}

@font-face {
    src:
        local("Inter-Black"),
        url(./Inter-Black.woff2) format("woff2"),
        url(./Inter-Black.woff) format("woff");
    font-family: "Inter";
    font-weight: 900;
}