.intro {
    /*ЧЕГО МЫ ТАМ НЕ ВИДЕЛИ*/
    max-width: 100%;
    margin: 92px auto 0 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px auto 0;
    }
}


@media screen and (max-width: 550px) {
    .intro {
        width: 90%;
        margin-top: 64px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: 90%;
        margin-top: 64px auto 0;
    }
}