.place {
    /*каждое место*/
    display: grid;
    grid-template-columns: max(460px) 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin: 80px auto;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 1024px;
        grid-template-columns: max(440px) 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 900px) {
    .places {
        max-width: calc(100vh - 48px);
        grid-template-columns: max(300px) 1fr;

    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 768px;
        grid-template-columns: max(340px) 1fr;
        column-gap: 28px;
        margin: 73px auto;
    }
}


@media screen and (max-width: 610px) {
    .place {
        max-width: calc(100vh - 42px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        margin: 50px auto;


    }
}