.footer {
    /*ФУТЕР*/
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
    }
}
}